.modal-open{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    background-color: #faf5ee!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    padding: 3rem;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url(SpaceGrotesk);
}

/* Styles for the modal overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(116, 2, 2, 0.7);
    z-index: 20;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: SpaceGrotesk;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: red;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

input[type="text"],
textarea {
    width: 100%;
    border-radius: 1px;
    border: 1px solid red;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

#close-img {
  width: 40px;
  transform: rotate(45deg);
}

textarea {
    resize: vertical;
    min-height: 100px;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

input[type="file"] {
    margin-bottom: 50px;
}

button[type="submit"] {
    padding: 10px;
    background-color: transparent;
    border-color: red;
    border: none;
    border-radius: 50%;
    color: red;
    cursor: pointer;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

button[type="submit"]:hover {
    background-color: white;
}

input[type="text"],
textarea,
button[type="submit"] {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

#file-label {
  background-color: red;
  color: white;
  border-radius: 5px;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  cursor: pointer;
}

button:picture-input {
  color: red;
}

.custom-file-upload {
  background-color: transparent;
  color: red;
  border-color: red;
  border-radius: 5px;
  cursor: pointer;
}