
.modal-open{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    padding: 3rem;
    z-index: 50;
}

/* Styles for the modal overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  background-color: transparent;
  border: none;
  outline: none;
}

