body {
  background-color: #f6f7ef!important;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
  border-radius: none;
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#text-para {
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 200px;
}


p {
  color: red;
  font-size: 20px;
  font-family: "SpaceGrotesk", sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@font-face {
  font-family: SpaceGrotesk;
  src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

.landingtext {
  margin-top: 600px;
  margin-bottom: 400px;
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 200;
  font-size: 90px;
  line-height: 1;
  font-style: normal;
  color: red;
  animation: slideUp 1.5s ease-in-out;
}

h1 {
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 300;
  font-size: 10px;
  font-style: normal;
  color: red;
}

h2 {
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 300;
  font-size: 10px;
  font-style: normal;
  color: red;
}

#searchbar {
  width: 600px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border-color: red;
  background-color: transparent;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  color: red;
}

#redimages {
  display: block;
  margin: 0 auto;
  margin-top: 240px;
}

#searchbar::placeholder {
  color: red;
}

#navlink {
  color: red;
}

input {
  color: red;
}

img {
  width: 100px;
}

#message-img {
  width: 38px;
}

#upload-img {
  width: 70px;
}

#search-img {
  width: 39px;
}

#user-img {
  width: 26px; 
  padding-top: 0px;
}

#create-img {
  width: 30px; 
}

#logo-img {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px; 
}

footer {
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 200;
  font-size: 15px;
  font-style: normal;
  color: red;
  position: inherit;
}

.custom-links a {
  color: red;
  text-decoration: none;
  margin: 0 8px;
  padding: 4px 8px;
  border-radius: 0;
}

.custom-links a:hover {
  background-color: red;
  border-radius: none;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 100px;
}

img#img1 {
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 27%;
  transform: translateX(50%);
}

img#img2 {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 27%;
  transform: translateX(-50%);
}

img#img1 {
  animation: slide-up-1 2.2s ease-in-out forwards;
}

img#img2 {
  animation: slide-up-2 2.2s ease-in-out forwards;
}

img#img1:hover {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

img#img2:hover {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}



@keyframes slide-up-1 {
  0% {
    transform: translateY(40%) rotate(10deg) translateX(90%);
  }
  100% {
    transform: translateY(0) translateX(50%);
  }
}

@keyframes slide-up-2 {
  0% {
    transform: translateY(60%) rotate(-10deg) translateX(70%);
  }
  100% {
    transform: translateY(0) translateX(50%);
  }
}

.homepage{
  position: relative;
}

.modal-open {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  background-color: #faf5ee!important;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  padding: 3rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(146, 145, 145, 0.7);
    z-index: 20;
}

footer {
  position: static;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: SpaceGrotesk;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SpaceGrotesk", sans-serif;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: red;
    font-family: "SpaceGrotesk", sans-serif;
}

input[type="text"],
textarea {
    width: 100%;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid white;
    font-family: "SpaceGrotesk", sans-serif;
}

input[type="text"]:focus,
textarea:focus {
    border-color: none;
    outline: none;
}

#close-img {
  width: 40px;
  transform: rotate(45deg);
}

textarea {
    resize: vertical;
    min-height: 100px;
    font-family: "SpaceGrotesk", sans-serif;
    color: red;
}

input[type="file"] {
    margin-bottom: 50px;
}

button[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
    background-color: transparent;
    border-color: red;
    border: none;
    border-radius: 50%;
    color: red;
    cursor: pointer;
    font-family: "SpaceGrotesk", sans-serif;
}

button[type="submit"]:hover {
    background-color: white;
    border-radius: none!important;
}

input[type="text"],
textarea,
button[type="submit"] {
    font-family: "SpaceGrotesk", sans-serif;
}

#file-label {
  background-color: red;
  color: transparent;
  border-radius: 5px;
  font-family: "SpaceGrotesk", sans-serif;
  cursor: pointer;
}

button:picture-input {
  color: red;
}

.custom-file-upload {
  color: red;
  cursor: pointer;
}

::selection {
    background-color: red;
    color: #fff;
}

.redpage {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 200px;
  font-family: SpaceGrotesk;
  font-size: 100px;
  color: red;
  padding-bottom: 200px;
  padding-left: 370px;
}

button.signup {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 30px;
  padding: 7px 20px;
  font-size: 45px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Select the icon */
link[rel="icon"] {
  /* Set the height to be 3 pixels less than the default value */
  height: calc(12px - 3px);
}


button.signup:hover {
  background-color: red;
  color: white;
}


button.signup:active {
  text-decoration: none;
}

input[type="email"],
input[type="password"] {
  border-radius: 0;
  border-color: transparent;
  color: red;
}

input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: none;
  outline: none;
  border-color: transparent;
  color: red;
}


:root {
  --card_width: 240px;
  --row_increment: 30px;
  --card_border_radius: 0px;
}

.pin_container {
  margin: 0;
  padding: 0;
  width: 70vw;
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: 200px;
  justify-content: center;
  grid-gap: 10px;
  grid-row-gap: 120px;
}

.card {
  padding: 0;
  margin: 0;
  border-radius: var(--card_border_radius);
  position: relative;
  background-size: cover;
  background-position: center;
  width: var(--card_width);
  animation: fade-in 0.3s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.card:nth-child(1) {
  animation: fade-in 1s ease 0.1s forwards;
}

.card:nth-child(2) {
  animation: fade-in 1s ease 0.2s forwards;
}

.card:nth-child(3) {
  animation: fade-in 1s ease 0.3s forwards;
}

.card:nth-child(4) {
  animation: fade-in 1s ease 0.4s forwards;
}

.card:nth-child(5) {
  animation: fade-in 1s ease 0.5s forwards;
}

.card:nth-child(6) {
  animation: fade-in 1s ease 0.6s forwards;
}

.card:nth-child(7) {
  animation: fade-in 1s ease 0.7s forwards;
}

.card:nth-child(8) {
  animation: fade-in 1s ease 0.8s forwards;
}

.card:nth-child(9) {
  animation: fade-in 1s ease 0.9s forwards;
}

.card:nth-child(10) {
  animation: fade-in 1s ease 1s forwards;
}

.card:nth-child(11) {
  animation: fade-in 1s ease 1.1s forwards;
}

.card:nth-child(12) {
  animation: fade-in 1s ease 1.2s forwards;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.card img {
  width: 100%;
  height: 310px;
}

.redpost-overlay {
  position: absolute;
  bottom: 200;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.6) 20%,
    rgba(255, 0, 0, 0.3) 50%,
    rgba(255, 0, 0, 0.1) 80%
  );
  color: white;
  padding: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}


.redpost-overlay::after {
  content: "☆";
  position: absolute;
  top: 240px;
  left: 20px;
  color: red;
  font-size: 40px;
  font-weight: lighter;
}

.card:hover .redpost-overlay {
  opacity: 1;
}

.inputPassword{
  position: relative;
}
.eyeIcon{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  right: 0;
}

span {
  font-family: "SpaceGrotesk", sans-serif;
}

/* Media query for medium-sized screens */
@media screen and (min-width: 768px) {
  :root {
    --row_increment: 15px;
    --card_small: 33px;
    --card_med: 45px;
    --card_large: 60px;
  }

  .card {
    height: var(--card_med);
  }
}

/* Media query for large screens */
@media screen and (min-width: 1024px) {
  :root {
    --row_increment: 20px;
    --card_small: 45px;
    --card_med: 60px;
    --card_large: 80px;
  }

  .card {
    height: var(--card_large);
  }
}

.red-dot {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 0.6),
    rgba(255, 0, 0, 0.1)
  );
  z-index: 9999;
  pointer-events: none;
}

.create-content .description-input span {
  margin-right: 2px;
}
 
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.email-input::-webkit-input-placeholder {
  color: red;
}

.email-input:-moz-placeholder {
  color: red;
}

.email-input::-moz-placeholder {
  color: red;
}

.email-input:-ms-input-placeholder {
  color: red;
}

.email-input:focus {
  outline: none;
  border-color: pink;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 153, 0.25);
  color: red;
}

.email-input:-webkit-autofill,
.email-input:-webkit-autofill:hover,
.email-input:-webkit-autofill:focus,
.email-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  color: red !important;
}

.email-input:-webkit-autofill,
.email-input:-webkit-autofill:hover,
.email-input:-webkit-autofill:focus,
.email-input:-webkit-autofill:active {
  color: red!important;
}