body {
  background-color: #ebe5db!important;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  border-radius: none;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#searchbar {
  width: 600px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border-color: red;
  background-color: #ebe5db;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  color: red;
}

#searchbar::placeholder {
  color: red;
}

#navlink {
  color: red;
}

input {
  color: red;
}

img {
  width: 100px;
}

#message-img {
  width: 43px; 
  padding-top: 2px;
}

#search-img {
  width: 39px;
}

#user-img {
  width: 30px; 
  padding-top: 2px;
}

#create-img {
  width: 30px; 
}

#logo-img {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px; 
}

.my-masonry-grid {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */
  padding: 3px; /* Add this line for 3px padding on each side of the card */
}

.my-masonry-grid_column {
  margin-bottom: 3px; /* Add this line for 3px distance between the cards */
  background-clip: padding-box; /* Add this line for sharp edges on the cards */
}



footer {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 200;
  font-size: 15px;
  font-style: normal;
  color: red;
}

footer:button {
  outline: red;
}

.custom-links a {
  color: red;
  text-decoration: none;
  margin: 0 8px;
  padding: 4px 8px;
  border-radius: 0;
}

.custom-links a:hover {
  background-color: red;
  border-radius: 40px;
  color: white;
}
